section#contact {
  display: flex;
  align-items: center;
  & > p {
    flex: 1;
    justify-content: center;
    align-items: center;
  }
  & > form {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
}
