header {
  display: flex;
  min-height: calc(100vh - 106px);
  justify-content: center;
  flex-direction: column;
  align-items: center;

  & > span {
    font-size: 3rem;
    margin: 0;
  }
  & > h1 {
    margin: 0;
    font-size: 13rem;
    letter-spacing: 5px;
    text-transform: uppercase;
  }
}
